h1,
h2,
h3,
a,
strong,
button {
  font-family: "Montserrat", sans-serif;
  color: #ee964b;
}
h1,
h2,
h3 {
  font-weight: bold;
  color: #c44900;
}
h1 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.navbar {
  background-color: #432534 !important;
}
.navbar-nav {
  margin-left: auto;
}

body {
  background-color: #efd6ac;
}
::-webkit-scrollbar {
  display: none;
}
p,
div {
  font-family: "Esteban", serif;
}
button {
  background-color: #432534 !important;
  color: #efd6ac !important;
}
section {
  margin: 5%;
}
#qualification h1 {
  margin-top: 10%;
  margin-bottom: 6%;
}
#qualification h2 {
  opacity: 0.5;
  margin-top: 3%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 768px) {
  section {
    margin-top: 2%;
  }
  .img-fuild {
    padding: 10%;
  }
  #hello div {
    margin-bottom: 50px;
  }
}
